#### Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Data

In [2]:
data = pd.read_csv("data/titanic.csv")
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

# Scatter plot

# Bubble plot

# 2D density plot

# Heatmap for correllation

# PCA - Principal Components analysis (dimensions reduction)

# Line plot

# Area plot

# Line plot for two axis and time series

# Linear regression

# Averaging trends

# Deleting trends