#### Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Data

Source you can find <a href="https://www.kaggle.com/datasets/brendan45774/test-file">here</a>.

In [4]:
data = pd.read_csv("data/titanic.csv")
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

# Histogram

# Density plot

# Stacked histogram

# Stacked density plot

# Overlapping chart

# Ridge chart

# Population pyramid

# Q-Q plots

# Graphs with high skewness and logarithmic scales

# Box plots

# Violin plots

# Point cloud

# Strip plot